#noFavs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#findFavBtn {
  background-color: #AB2300;
}

#findFavBtn:hover {
  background-color: #7b1a01;
}
