header {
  background-color: #e3e2df;;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
  position: relative;
  box-shadow: 1px -8px 28px black;
}

h1 {
  margin-left: 1vw;
}

h3 {
  color: #AB2300;
}

#linkContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.headerLink {
  margin: 0 30px;
}

.headerLink:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}


/* .react-player {
  transform: scale(5, 4.5);
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 5;
  padding-top: 7em;
  margin-bottom: 16em;
  overflow: hidden;
}

.banner {
  overflow: hidden;
  width: 100%;
} */
