.movieDetail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(0,0,0,0.9402135854341737) 31%, rgba(0,0,0,0.665703781512605) 87%, rgba(0,0,0,0) 100%);
  color: white;
  padding: 1.3em;
  margin: -59vh 0;
  z-index: 0;
  position: relative;

}

.movieDetail > h2 {
  margin: 4px 0;
  text-align: left;
}