.imgContainer {
  display: flex;
}

.imageContainer > img {
  height: 99vh;
  width: 99vw;
  object-fit: cover;
}

.backButton {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px -50px;
  z-index: 3;
  position: relative;
}

button {
  background-color: white;
  border: 1px solid black;
  font-family: sans-serif;
  padding: .5em;
  margin: 5px;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid grey;
  cursor: pointer;
}