.imgContainer {
  display: flex;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
  margin-bottom: -10vh;
}

.imageContainer > img {
  height: auto;
  width: 100%;
  object-fit: cover;
  margin: 0;
  border-radius: 0;
}

#backButton {
  display: flex;
  justify-content: flex-end;
  background-color: #c2cad0;
  color: #555a5e;
}

button {
  background-color: #afd275;
  color: white;
  border: 1px solid #555a5e;
  font-family: sans-serif;
  padding: 3px;
  margin: 2vh 3vw;
  box-shadow: -2px 2px 5px rgb(0 0 0 / 40%);
}

#removeFav {
  background-color: #AB2300;
}

#removeFav:hover {
  background-color: #781800;
  color: #c2cad0;
}

button:hover {
  background-color: #7c9d48;
  color: #c2cad0;
  border: 1px solid grey;
  cursor: pointer;
}

#rewind {
  margin: 10px;
  height: 6vh;
}